{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

 <div class = 'container'>

 <h3>Votre recapitulatif de commande avant le réglement</h3>
 <hr>

 <div class="row">
    <div class="col-6">
    <h5>Information client :</h5>
    <p>Nom  : {{app.user.nom }}</p>
    <p>Prenom : {{ app.user.prenom}}</p>
    <p>Téléphone : {{ app.user.telephone}}</p>
    <p>Votre adrresse de livraison : {{ app.user.adresse ~ ' '~ app.user.codePostal}}</p>
    <hr>

    <h3>Commande :</h3>
    
</div>

 <table class="table">
  <thead>
    <tr>
      
      <th scope="col">produit</th>      
      <th scope="col">quantité</th>      
      <th scope="col">total</th>
      
    </tr>
  </thead>
  <tbody>

  {% for item in panier %}
	<tr>
		<td scope="row">{{item['produit'].getNom()}}</td>
		<td scope="row">{{item['quantite']}}</td> 
		<td scope="row">{{item['total']}}€</td> 		
	</tr>
  {% endfor %}
 
</table>
 
<a href="#">Modifier l'addresse</a>
<a href="{{path('app_achat')}}">Passer à l'achat</a>
<a href="{{path('delete_panier')}}">Annuler Commande</a>

</div> 

{% endblock %}
