{% extends 'base.html.twig' %}


{% block title %}New Contact
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	
     <div class="row m-3">
	 
	{% for produit in list_produits %}
		
		<div class="card m-4" style="width: 18rem;">
			<img src="{{ asset ('assets/images/' ~ produit.image)}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{produit.nom}}</h5>
				<p>{{produit.description}}</p>
                <p>{{produit.prix}}</p>
				<a href="#" class="btn btn-primary">ajouter à mon panier</a>
			</div>
		</div>

		
	{% endfor %}
	 
	 </div>
	


		{% endblock %}