{% extends 'base.html.twig' %}

{% block title %}Condiment index{% endblock %}

{% block body %}
    <h1>Condiment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condiment in condiments %}
            <tr>
                <td>{{ condiment.id }}</td>
                <td>{{ condiment.nom }}</td>
                <td>
                    <a href="{{ path('app_condiment_show', {'id': condiment.id}) }}">show</a>
                    <a href="{{ path('app_condiment_edit', {'id': condiment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_condiment_new') }}">Create new</a>
{% endblock %}
