{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date_commande</th>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ commande.nom }}</td>
            </tr>
             <tr>
                <th>adresse livraison</th>
                <td>{{ commande.adresseLivraison }}</td>
            </tr>
            <tr>
                <th>Statu</th>
                <td>{{ commande.statu ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.total }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>
    {% if commande.statu == true %}
    <div class="alert alert-success" role="alert">
    commande livré!
    </div>
    {% else %}
    <a href="{{ path('app_commande_livre', {'id': commande.id}) }}">Livré</a>
    {% endif %}
    <hr>
    <hr>
    <h2>detail commande</h2>
    <hr>
    <hr>
    <div>
    <h5>Information adresse client</h5>
    
    
    </div>
   

    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        <table class="table">
        <thead>
            <tr>      
                <th scope="col">produit</th>                          
                <th scope="col">prix unitaire</th>      
                <th scope="col">total</th>  
            </tr>
        </thead>
        <tbody>
        

        {% for item in commande.detailCommandes %}
            <tr>
                <td scope="row">{{item.getNom()}}</td> 
                
                <td scope="row">{{item.PrixUnitaire()}}</td>
                <td scope="row">{{item.total}}€</td>                
            </tr>
        {% endfor %}
        </tbody>
        </table>


    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
