{% extends 'base.html.twig' %}

{% block title %}Boisson index{% endblock %}

{% block body %}
    <h1>Boisson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for boisson in boissons %}
            <tr>
                <td>{{ boisson.id }}</td>
                <td>{{ boisson.nom }}</td>
                <td>{{ boisson.prix }}</td>
                <td>
                    <a href="{{ path('app_boisson_show', {'id': boisson.id}) }}">show</a>
                    <a href="{{ path('app_boisson_edit', {'id': boisson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_boisson_new') }}">Create new</a>
{% endblock %}
