{% extends 'base.html.twig' %}
{% block body %}

	<h1>modifier la composition</h1>

	<div class="modif">
		<div class="card m-4" style="width: 18rem;">
			<img src="{{ asset ('assets/images/' ~ produit.image)}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{produit.nom}}</h5>
				<p>{{produit.description}}</p>
				<a href="{{path('add_panier',{'id': produit.id})}}" class="btn btn-primary">
					ajouter
				</a>
			</div>
		</div>

		<div class='sauce'>
			<h3>Nos sauces</h3>	
			{% for sauce in sauces %}
			<input type="checkbox" name="" id="">{{sauce.nom}}<br/>
			{% endfor %}
		</div>

		<div class='supplement'>
			<h3>Nos supplements</h3>	
			{% for supplement in supplements %}
			<input type="checkbox" name="" id="">{{supplement.nom}} {{supplement.prix}} €<br/>
			{% endfor %}
		</div>

		<div class='condiment'>
			<h3>Nos condiments</h3>	
			{% for condiment in condiments %}
			<input type="checkbox" name="" id="">{{condiment.nom}}<br/>
			{% endfor %}
		</div>

		

	</div>


{% endblock %}
